body, ul{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
ul > li:focus{
    outline: none;
}
a{
    text-decoration: none;
}

.content-container{
    margin-left: 250px;
    transition: margin-left .3s ease-in-out;
    -webkit-transition: margin-left .3s ease-in-out;
}
.content-container.content-collapse{
    margin-left: 65px;
}